{% extends './base.html' %}
{% block content %}

    
        <h1>Password Generator</h1>
        <br>
        <form action="{% url 'password' %}">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Choose the length of your password</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" name="length">
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option selected value="12">12</option>
                    <option value="16">16</option>
                </select>


            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="uppercase">
                <label class="form-check-label" for="defaultCheck1">
                    Uppercase
                </label>
                <br>

                <input class="form-check-input" type="checkbox" name="numbers" >
                <label class="form-check-label" for="defaultCheck1">
                    Numbers
                </label>
                <br>

                <input class="form-check-input" type="checkbox" name="special">
                <label class="form-check-label" for="defaultCheck1">
                    Special character
                </label>
            </div>
            <br>
            <button type="submit" class="btn btn-primary mb-2">Generate Password!</button>
        </form>
        <br>
        <!-- <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button> -->
        <a href="{% url 'about' %}" class="btn btn-secondary btn-lg active btn-lg btn-block" role="button" aria-pressed="true">About</a>
<!-- <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Link</a> -->


    

{% endblock %}
